In [69]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [70]:
url = "https://www.forbesindia.com/article/explainers/highestgrossing-films-worldwide/93665/1"
web = requests.get(url)

In [71]:
web.status_code

200

In [72]:
soup = BeautifulSoup(web.content, "html.parser")

In [73]:
hadings = soup.find("thead")

In [74]:
hadings

<thead>
<tr>
<th style="border: 1px solid black; padding: 8px;"><strong>Movie name</strong></th>
<th style="border: 1px solid black; padding: 8px;"><strong>Year of release</strong></th>
<th style="border: 1px solid black; padding: 8px;"><strong>Worldwide lifetime gross (in $)</strong></th>
</tr>
</thead>

In [75]:
headings = hadings.find("tr")

In [76]:
headings

<tr>
<th style="border: 1px solid black; padding: 8px;"><strong>Movie name</strong></th>
<th style="border: 1px solid black; padding: 8px;"><strong>Year of release</strong></th>
<th style="border: 1px solid black; padding: 8px;"><strong>Worldwide lifetime gross (in $)</strong></th>
</tr>

In [77]:
titles = headings.find_all("th")

In [78]:
titles

[<th style="border: 1px solid black; padding: 8px;"><strong>Movie name</strong></th>,
 <th style="border: 1px solid black; padding: 8px;"><strong>Year of release</strong></th>,
 <th style="border: 1px solid black; padding: 8px;"><strong>Worldwide lifetime gross (in $)</strong></th>]

In [79]:
titles = [i.text for i in titles]

In [80]:
df = pd.DataFrame(columns = titles)

In [81]:
df

Empty DataFrame
Columns: [Movie name, Year of release, Worldwide lifetime gross (in $)]
Index: []

In [82]:
all_tr = soup.find_all("tr")

In [83]:
all_tr

[<tr>
 <th style="border: 1px solid black; padding: 8px;"><strong>Movie name</strong></th>
 <th style="border: 1px solid black; padding: 8px;"><strong>Year of release</strong></th>
 <th style="border: 1px solid black; padding: 8px;"><strong>Worldwide lifetime gross (in $)</strong></th>
 </tr>,
 <tr>
 <td style="border: 1px solid black; padding: 8px;">Avatar</td>
 <td style="border: 1px solid black; padding: 8px;">2009</td>
 <td style="border: 1px solid black; padding: 8px;">2,923,706,026</td>
 </tr>,
 <tr>
 <td style="border: 1px solid black; padding: 8px;">Avengers: Endgame</td>
 <td style="border: 1px solid black; padding: 8px;">2019</td>
 <td style="border: 1px solid black; padding: 8px;">2,799,439,100</td>
 </tr>,
 <tr>
 <td style="border: 1px solid black; padding: 8px;">Avatar: The Way of Water</td>
 <td style="border: 1px solid black; padding: 8px;">2022</td>
 <td style="border: 1px solid black; padding: 8px;">2,320,250,281</td>
 </tr>,
 <tr>
 <td style="border: 1px solid black; padding: 8px;">Titanic</td>
 <td style="border: 1px solid black; padding: 8px;">1997</td>
 <td style="border: 1px solid black; padding: 8px;">2,264,750,694</td>
 </tr>,
 <tr>
 <td style="border: 1px solid black; padding: 8px;">Star Wars: Episode VII - The Force Awakens</td>
 <td style="border: 1px solid black; padding: 8px;">2015</td>
 <td style="border: 1px solid black; padding: 8px;">2,071,310,218</td>
 </tr>,
 <tr>
 <td style="border: 1px solid black; padding: 8px;">Avengers: Infinity War</td>
 <td style="border: 1px solid black; padding: 8px;">2018</td>
 <td style="border: 1px solid black; padding: 8px;">2,052,415,039</td>
 </tr>,
 <tr>
 <td style="border: 1px solid black; padding: 8px;">Spider-Man: No Way Home</td>
 <td style="border: 1px solid black; padding: 8px;">2021</td>
 <td style="border: 1px solid black; padding: 8px;">1,922,598,800</td>
 </tr>,
 <tr>
 <td style="border: 1px solid black; padding: 8px;">Jurassic World</td>
 <td style="border: 1px solid black; padding: 8px;">2015</td>
 <td style="border: 1px solid black; padding: 8px;">1,671,537,444</td>
 </tr>,
 <tr>
 <td style="border: 1px solid black; padding: 8px;">The Lion King</td>
 <td style="border: 1px solid black; padding: 8px;">2019</td>
 <td style="border: 1px solid black; padding: 8px;">1,663,079,059</td>
 </tr>,
 <tr>
 <td style="border: 1px solid black; padding: 8px;">The Avengers</td>
 <td style="border: 1px solid black; padding: 8px;">2012</td>
 <td style="border: 1px solid black; padding: 8px;">1,520,538,536</td>
 </tr>]

In [84]:
for i in all_tr[1:]:
    data = i.find_all("td")
    row = [i.text for i in data]
    l = len(df)
    df.loc[l] = row

In [86]:
df

,Movie name,Year of release,Worldwide lifetime gross (in $)
0,Avatar,2009,"2,923,706,026"
1,Avengers: Endgame,2019,"2,799,439,100"
2,Avatar: The Way of Water,2022,"2,320,250,281"
3,Titanic,1997,"2,264,750,694"
4,Star Wars: Episode VII - The Force Awakens,2015,"2,071,310,218"
5,Avengers: Infinity War,2018,"2,052,415,039"
6,Spider-Man: No Way Home,2021,"1,922,598,800"
7,Jurassic World,2015,"1,671,537,444"
8,The Lion King,2019,"1,663,079,059"
9,The Avengers,2012,"1,520,538,536"

In [87]:
df.to_csv("top10movies.csv")